.table-view {
   -fx-background-color: transparent;
   -fx-padding: 30 10 10 30;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #333;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E6E6E6
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #FFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd { 
    -fx-background-color: transparent;
}

.table-row-cell:hover .table-cell{
    -fx-text-fill: #AAA;
}

.table-row-cell:selected {
    -fx-background-color: #444;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-view .column-header-background .filler {
  -fx-padding: 0;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background, 
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button, 
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
}