.root {
	-fx-background-color: #333333;
}

.label {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 13pt;
}

.button {
	-fx-background-color: #108ACB;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-border-radius: 0 0 0 0;
	-fx-background-radius: 2;
	-fx-padding: 30px;
    -fx-border-insets: 20px;
    -fx-background-insets: 20px;
}

.button:hover {
	-fx-text-fill: #AAAAAA;
}

.h1 {
	-fx-font-size: 30pt;
	-fx-font-weight: bold;
	-fx-padding: 14pt;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
}

.h2 {
	-fx-font-size: 24pt;
	-fx-font-weight: bold;
	-fx-padding: 10pt;
}

.h3 {
	-fx-font-size: 20pt;
	-fx-font-weight: bold;
	-fx-padding: 8pt;
}

.p {
	-fx-font-size: 14pt;
	-fx-font-weight: bold;
	-fx-padding: 0 20 0 0;
}

.excuse-label {
	-fx-font-size: 24px;
	-fx-padding: 40pt;
	-fx-wrap-text: true;
	-fx-text-alignment: center;
}