.window-border {
	-fx-background-color: #222;
	-fx-text-fill: #FFFFFF;
	-fx-border-color: rgba(0,0,0,0.8);
	-fx-border-width: 0 0 1 0;
}

.button {
	-fx-background-color: #222;
	-fx-font-size: 13pt;
	-fx-border-insets: 0px;
    -fx-background-insets: 0px;
	-fx-padding: 5px;
}